{"openapi": "3.1.0", "info": {"title": "Fordefi API", "version": "0.2.0"}, "servers": [{"url": "https://api.fordefi.com/", "description": "Production"}], "paths": {"/api/v1/blockchains": {"get": {"tags": ["Blockchains"], "summary": "List Chains", "description": "Get a list of supported blockchains.", "operationId": "list_chains_api_v1_blockchains_get", "parameters": [{"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "description": "The page number to fetch.", "default": 1, "title": "Page"}, "description": "The page number to fetch."}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 100, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}, {"name": "chain_types", "in": "query", "required": false, "schema": {"title": "Chain Types", "type": "array", "items": {"$ref": "#/components/schemas/ChainType"}}}, {"name": "sources", "in": "query", "required": false, "schema": {"description": "The source of the chain. Can be:<ul><li>`default`: Chains with built-in support on Fordefi's platform.<li>`custom`: User-added chains with support on Fordefi's platform.</ul>", "title": "Sources", "type": "array", "items": {"$ref": "#/components/schemas/ChainSource"}}, "description": "The source of the chain. Can be:<ul><li>`default`: Chains with built-in support on Fordefi's platform.<li>`custom`: User-added chains with support on Fordefi's platform.</ul>"}, {"name": "only_interacted_with", "in": "query", "required": false, "schema": {"type": "boolean", "description": "Filter and display only chains the organization have outgoing or incoming transactions.", "default": false, "title": "Only Interacted With"}, "description": "Filter and display only chains the organization have outgoing or incoming transactions."}, {"name": "include_mainnets", "in": "query", "required": false, "schema": {"type": "boolean", "default": true, "title": "Include Mainnets"}}, {"name": "include_testnets", "in": "query", "required": false, "schema": {"type": "boolean", "default": true, "title": "Include Testnets"}}, {"name": "include_exchanges", "in": "query", "required": false, "schema": {"type": "boolean", "default": false, "title": "Include Exchanges"}}, {"name": "show_all", "in": "query", "required": false, "schema": {"type": "boolean", "description": "Include all chains in the response.", "default": false, "title": "Show All"}, "description": "Include all chains in the response."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListBlockchainsResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/blockchains/suggested-fees": {"get": {"tags": ["Blockchains"], "summary": "Get Suggested Fees", "description": "Get the suggested fees in a specific network.", "operationId": "get_suggested_fees_api_v1_blockchains_suggested_fees_get", "parameters": [{"name": "chains", "in": "query", "required": false, "schema": {"title": "Chains", "type": "array", "items": {"type": "string", "minLength": 1, "description": "The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`\"aptos_mainnet\"`</li><li>`\"aptos_testnet\"`</li><li>`\"aptos_movement_mainnet\"`</li><li>`\"aptos_movement_testnet\"`</li><li>`\"cosmos_agoric-3\"`</li><li>`\"cosmos_akashnet-2\"`</li><li>`\"cosmos_archway-1\"`</li><li>`\"cosmos_axelar-dojo-1\"`</li><li>`\"cosmos_celestia\"`</li><li>`\"cosmos_cosmoshub-4\"`</li><li>`\"cosmos_dydx-mainnet-1\"`</li><li>`\"cosmos_dydx-testnet-4\"`</li><li>`\"cosmos_dymension_1100-1\"`</li><li>`\"cosmos_injective-1\"`</li><li>`\"cosmos_neutron-1\"`</li><li>`\"cosmos_noble-1\"`</li><li>`\"cosmos_osmosis-1\"`</li><li>`\"cosmos_pacific-1\"`</li><li>`\"cosmos_stride-1\"`</li><li>`\"exchange_binance\"`</li><li>`\"exchange_bybit\"`</li><li>`\"exchange_coinbase_international\"`</li><li>`\"exchange_coinbase_us\"`</li><li>`\"exchange_okx\"`</li><li>`\"solana_mainnet\"`</li><li>`\"solana_devnet\"`</li><li>`\"stacks_mainnet\"`</li><li>`\"starknet_mainnet\"`</li><li>`\"sui_mainnet\"`</li><li>`\"sui_testnet\"`</li><li>`\"ton_mainnet\"`</li><li>`\"bitcoin_mainnet\"`</li><li>`\"bitcoin_testnet\"`</li><li>`\"evm_1\"`</li><li>`\"evm_5\"`</li><li>`\"evm_10\"`</li><li>`\"evm_16\"`</li><li>`\"evm_56\"`</li><li>`\"evm_100\"`</li><li>`\"evm_137\"`</li><li>`\"evm_146\"`</li><li>`\"evm_169\"`</li><li>`\"evm_250\"`</li><li>`\"evm_324\"`</li><li>`\"evm_1030\"`</li><li>`\"evm_1100\"`</li><li>`\"evm_1101\"`</li><li>`\"evm_1329\"`</li><li>`\"evm_1729\"`</li><li>`\"evm_2222\"`</li><li>`\"evm_4200\"`</li><li>`\"evm_5000\"`</li><li>`\"evm_7000\"`</li><li>`\"evm_7700\"`</li><li>`\"evm_8453\"`</li><li>`\"evm_17000\"`</li><li>`\"evm_80001\"`</li><li>`\"evm_42161\"`</li><li>`\"evm_43114\"`</li><li>`\"evm_59144\"`</li><li>`\"evm_81457\"`</li><li>`\"evm_421614\"`</li><li>`\"evm_534352\"`</li><li>`\"evm_660279\"`</li><li>`\"evm_810180\"`</li><li>`\"evm_11155111\"`</li><li>`\"evm_ethereum_mainnet\"`</li><li>`\"evm_ethereum_goerli\"`</li><li>`\"evm_optimism_mainnet\"`</li><li>`\"evm_flare_testnet\"`</li><li>`\"evm_bsc_mainnet\"`</li><li>`\"evm_gnosis_mainnet\"`</li><li>`\"evm_polygon_mainnet\"`</li><li>`\"evm_sonic_mainnet\"`</li><li>`\"evm_manta_pacific_mainnet\"`</li><li>`\"evm_fantom_mainnet\"`</li><li>`\"evm_zksync_era_mainnet\"`</li><li>`\"evm_conflux_mainnet\"`</li><li>`\"evm_dymension_mainnet\"`</li><li>`\"evm_polygon_zkevm_mainnet\"`</li><li>`\"evm_sei_mainnet\"`</li><li>`\"evm_reya_mainnet\"`</li><li>`\"evm_kava_mainnet\"`</li><li>`\"evm_merlin_mainnet\"`</li><li>`\"evm_mantle_mainnet\"`</li><li>`\"evm_zeta_mainnet\"`</li><li>`\"evm_canto_mainnet\"`</li><li>`\"evm_base_mainnet\"`</li><li>`\"evm_ethereum_holesky\"`</li><li>`\"evm_polygon_mumbai\"`</li><li>`\"evm_arbitrum_mainnet\"`</li><li>`\"evm_avalanche_chain\"`</li><li>`\"evm_linea_mainnet\"`</li><li>`\"evm_blast_mainnet\"`</li><li>`\"evm_arbitrum_sepolia\"`</li><li>`\"evm_scroll_mainnet\"`</li><li>`\"evm_xai_mainnet\"`</li><li>`\"evm_zklink_nova_mainnet\"`</li><li>`\"evm_ethereum_sepolia\"`</li></ul>", "title": "ChainUniqueId"}}}, {"name": "chain_types", "in": "query", "required": false, "schema": {"title": "Chain Types", "type": "array", "items": {"$ref": "#/components/schemas/ChainType"}}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetSuggestedFeesResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/users": {"get": {"tags": ["Users"], "summary": "List Users", "description": "Get a list of users in the organization.", "operationId": "list_users_api_v1_users_get", "parameters": [{"name": "sort_by", "in": "query", "required": false, "schema": {"type": "array", "items": {"$ref": "#/components/schemas/UserSortableFields"}, "title": "Sort By"}}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1, "title": "Page"}}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 400, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}, {"name": "types", "in": "query", "required": false, "schema": {"description": "The types of the users to filter on.", "title": "Types", "type": "array", "items": {"$ref": "#/components/schemas/UserType"}}, "description": "The types of the users to filter on."}, {"name": "roles", "in": "query", "required": false, "schema": {"description": "The roles of the users to filter on.", "title": "Roles", "type": "array", "items": {"$ref": "#/components/schemas/UserRole"}}, "description": "The roles of the users to filter on."}, {"name": "states", "in": "query", "required": false, "schema": {"description": "The states of the users to filter on.  Is one of: <ul><li>`active`: The user can perform all actions in the Fordefi platform.<li>`onboarding`: The user has been approved but still needs to activate the account.<li>`pending_approval`: The user has been invited but not yet approved.<li>`deleted`: The user has been deleted.</ul>", "title": "States", "type": "array", "items": {"$ref": "#/components/schemas/UserState"}}, "description": "The states of the users to filter on.  Is one of: <ul><li>`active`: The user can perform all actions in the Fordefi platform.<li>`onboarding`: The user has been approved but still needs to activate the account.<li>`pending_approval`: The user has been invited but not yet approved.<li>`deleted`: The user has been deleted.</ul>"}, {"name": "include_deleted", "in": "query", "required": false, "schema": {"description": "`True` to include deleted users in the response, `False` otherwise.", "default": false, "title": "Include Deleted", "type": "boolean"}, "description": "`True` to include deleted users in the response, `False` otherwise."}, {"name": "names", "in": "query", "required": false, "schema": {"description": "The names of the users.", "title": "Names", "type": "array", "items": {"type": "string"}}, "description": "The names of the users."}, {"name": "emails", "in": "query", "required": false, "schema": {"description": "The emails of the users.", "title": "Emails", "type": "array", "items": {"type": "string"}}, "description": "The emails of the users."}, {"name": "user_ids", "in": "query", "required": false, "schema": {"description": "The unique identifiers of the users.", "title": "User Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "The unique identifiers of the users."}, {"name": "external_ids", "in": "query", "required": false, "schema": {"description": "The IDs that you assign to the end user.", "title": "External Ids", "type": "array", "items": {"type": "string"}}, "description": "The IDs that you assign to the end user."}, {"name": "group_ids", "in": "query", "required": false, "schema": {"description": "The unique identifiers of the user groups.", "title": "Group Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "The unique identifiers of the user groups."}, {"name": "group_ids__not", "in": "query", "required": false, "schema": {"description": "The unique identifiers of the user groups to exclude.", "title": "Group Ids  Not", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "The unique identifiers of the user groups to exclude."}, {"name": "states_on_groups", "in": "query", "required": false, "schema": {"description": "The states of the user groups to filter group_ids on. Is one of: <ul><li>`active`: The user group is active.<li>`pending_addition`: The user is pending to be added to the group.<li>`pending_removal`: The user is pending to be removed from the group.</ul>", "title": "States On Groups", "type": "array", "items": {"$ref": "#/components/schemas/UserStateOnGroup"}}, "description": "The states of the user groups to filter group_ids on. Is one of: <ul><li>`active`: The user group is active.<li>`pending_addition`: The user is pending to be added to the group.<li>`pending_removal`: The user is pending to be removed from the group.</ul>"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListUsersResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/users/{id}": {"get": {"tags": ["Users"], "summary": "Get User", "description": "Gets the user that corresponds to the given ID.", "operationId": "get_user_api_v1_users__id__get", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the user to retrieve.", "title": "Id"}, "description": "ID of the user to retrieve."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetUserResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/user-groups": {"get": {"tags": ["User Groups"], "summary": "List User Groups", "description": "Get a list of user groups", "operationId": "list_user_groups_api_v1_user_groups_get", "parameters": [{"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "description": "The page number to fetch.", "default": 1, "title": "Page"}, "description": "The page number to fetch."}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 100, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}, {"name": "states", "in": "query", "required": false, "schema": {"title": "States", "type": "array", "items": {"$ref": "#/components/schemas/UserGroupState"}}}, {"name": "user_group_ids", "in": "query", "required": false, "schema": {"title": "User Group Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "user_ids", "in": "query", "required": false, "schema": {"title": "User Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "modified_by", "in": "query", "required": false, "schema": {"title": "Modified By", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "name", "in": "query", "required": false, "schema": {"title": "Name", "type": "string", "minLength": 1}}, {"name": "search", "in": "query", "required": false, "schema": {"title": "Search", "type": "string", "minLength": 1}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"title": "Sort By", "type": "array", "items": {"$ref": "#/components/schemas/UserGroupSortableFields"}}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListUserGroupsResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/user-groups/{id}": {"get": {"tags": ["User Groups"], "summary": "Get User Group", "description": "Retrieve user group details", "operationId": "get_user_group_api_v1_user_groups__id__get", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the user group to retrieve.", "title": "Id"}, "description": "ID of the user group to retrieve."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetUserGroupResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/vaults": {"get": {"tags": ["Vaults"], "summary": "List Vaults", "description": "Get a list of all vaults in an organization.", "operationId": "list_vaults_api_v1_vaults_get", "parameters": [{"name": "sort_by", "in": "query", "required": false, "schema": {"type": "array", "items": {"$ref": "#/components/schemas/VaultSortableFields"}, "title": "Sort By"}}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "description": "The page number to fetch.", "default": 1, "title": "Page"}, "description": "The page number to fetch."}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 100, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}, {"name": "vault_ids", "in": "query", "required": false, "schema": {"description": "Vault IDs to filter on.", "title": "Vault Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "Vault IDs to filter on."}, {"name": "names", "in": "query", "required": false, "schema": {"description": "List of full names to filter on.", "title": "Names", "type": "array", "items": {"type": "string"}}, "description": "List of full names to filter on."}, {"name": "vault_types", "in": "query", "required": false, "schema": {"description": "Vault types to filter on.", "title": "Vault Types", "type": "array", "items": {"$ref": "#/components/schemas/VaultType"}}, "description": "Vault types to filter on."}, {"name": "vault_states", "in": "query", "required": false, "schema": {"description": "Vault states to filter on.", "title": "Vault States", "type": "array", "items": {"$ref": "#/components/schemas/VaultState"}}, "description": "Vault states to filter on."}, {"name": "keyset_ids", "in": "query", "required": false, "schema": {"description": "List of keyset IDs to filter on.", "title": "Keyset Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "List of keyset IDs to filter on."}, {"name": "key_holder_ids", "in": "query", "required": false, "schema": {"description": "List of key holder IDs to filter on.", "title": "Key Holder Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "List of key holder IDs to filter on."}, {"name": "vault_group_ids", "in": "query", "required": false, "schema": {"description": "List of vault group IDs to filter on. Filter applies to current and pending vault groups.", "title": "Vault Group Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "List of vault group IDs to filter on. Filter applies to current and pending vault groups."}, {"name": "exclude_vault_group_ids", "in": "query", "required": false, "schema": {"description": "List of vault group IDs to exclude.", "title": "Exclude Vault Group Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "List of vault group IDs to exclude."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListVaultsResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}, "post": {"tags": ["Vaults"], "summary": "Create Vault", "description": "Create a new vault.", "operationId": "create_vault_api_v1_vaults_post", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateVaultRequest"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateVaultResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DefinedPreconditionError_CreateVaultErrorType_"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "409": {"description": "Already Exists", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/vaults/export": {"get": {"tags": ["Vaults"], "summary": "Export Vaults With Assets", "description": "Get a CSV-format list of balances of all vaults and their assets.", "operationId": "export_vaults_with_assets_api_v1_vaults_export_get", "parameters": [{"name": "vaults_ids", "in": "query", "required": false, "schema": {"description": "Vault IDs to filter on.", "title": "Vaults Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "Vault IDs to filter on."}, {"name": "vault_types", "in": "query", "required": false, "schema": {"description": "Vault types to filter on.", "title": "Vault Types", "type": "array", "items": {"$ref": "#/components/schemas/VaultType"}}, "description": "Vault types to filter on."}], "responses": {"200": {"description": "Exported vaults in CSV format", "content": {"text/csv": {"schema": {"type": "string"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/vaults/{id}": {"get": {"tags": ["Vaults"], "summary": "Get Vault", "description": "Retrieve vault details.", "operationId": "get_vault_api_v1_vaults__id__get", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the vault to retrieve.", "title": "Id"}, "description": "ID of the vault to retrieve."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetVaultResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/vaults/{id}/assets/{asset_id}": {"get": {"tags": ["Vaults"], "summary": "Get Vault Asset", "description": "Get a specific asset in a vault.", "operationId": "get_vault_asset_api_v1_vaults__id__assets__asset_id__get", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the vault to retrieve.", "title": "Id"}, "description": "ID of the vault to retrieve."}, {"name": "asset_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the asset to retrieve.", "title": "Asset Id"}, "description": "ID of the asset to retrieve."}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "description": "The page number to fetch.", "default": 1, "title": "Page"}, "description": "The page number to fetch."}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 100, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetOwnedAssetResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/vaults/{id}/assets": {"get": {"tags": ["Vaults"], "summary": "Get Vault Assets", "description": "Get a list of all assets in a vault.", "operationId": "get_vault_assets_api_v1_vaults__id__assets_get", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the vault to retrieve.", "title": "Id"}, "description": "ID of the vault to retrieve."}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "description": "The page number to fetch.", "default": 1, "title": "Page"}, "description": "The page number to fetch."}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 100, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}, {"name": "chains", "in": "query", "required": false, "schema": {"title": "Chains", "type": "array", "items": {"type": "string", "minLength": 1, "description": "The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`\"aptos_mainnet\"`</li><li>`\"aptos_testnet\"`</li><li>`\"aptos_movement_mainnet\"`</li><li>`\"aptos_movement_testnet\"`</li><li>`\"cosmos_agoric-3\"`</li><li>`\"cosmos_akashnet-2\"`</li><li>`\"cosmos_archway-1\"`</li><li>`\"cosmos_axelar-dojo-1\"`</li><li>`\"cosmos_celestia\"`</li><li>`\"cosmos_cosmoshub-4\"`</li><li>`\"cosmos_dydx-mainnet-1\"`</li><li>`\"cosmos_dydx-testnet-4\"`</li><li>`\"cosmos_dymension_1100-1\"`</li><li>`\"cosmos_injective-1\"`</li><li>`\"cosmos_neutron-1\"`</li><li>`\"cosmos_noble-1\"`</li><li>`\"cosmos_osmosis-1\"`</li><li>`\"cosmos_pacific-1\"`</li><li>`\"cosmos_stride-1\"`</li><li>`\"exchange_binance\"`</li><li>`\"exchange_bybit\"`</li><li>`\"exchange_coinbase_international\"`</li><li>`\"exchange_coinbase_us\"`</li><li>`\"exchange_okx\"`</li><li>`\"solana_mainnet\"`</li><li>`\"solana_devnet\"`</li><li>`\"stacks_mainnet\"`</li><li>`\"starknet_mainnet\"`</li><li>`\"sui_mainnet\"`</li><li>`\"sui_testnet\"`</li><li>`\"ton_mainnet\"`</li><li>`\"bitcoin_mainnet\"`</li><li>`\"bitcoin_testnet\"`</li><li>`\"evm_1\"`</li><li>`\"evm_5\"`</li><li>`\"evm_10\"`</li><li>`\"evm_16\"`</li><li>`\"evm_56\"`</li><li>`\"evm_100\"`</li><li>`\"evm_137\"`</li><li>`\"evm_146\"`</li><li>`\"evm_169\"`</li><li>`\"evm_250\"`</li><li>`\"evm_324\"`</li><li>`\"evm_1030\"`</li><li>`\"evm_1100\"`</li><li>`\"evm_1101\"`</li><li>`\"evm_1329\"`</li><li>`\"evm_1729\"`</li><li>`\"evm_2222\"`</li><li>`\"evm_4200\"`</li><li>`\"evm_5000\"`</li><li>`\"evm_7000\"`</li><li>`\"evm_7700\"`</li><li>`\"evm_8453\"`</li><li>`\"evm_17000\"`</li><li>`\"evm_80001\"`</li><li>`\"evm_42161\"`</li><li>`\"evm_43114\"`</li><li>`\"evm_59144\"`</li><li>`\"evm_81457\"`</li><li>`\"evm_421614\"`</li><li>`\"evm_534352\"`</li><li>`\"evm_660279\"`</li><li>`\"evm_810180\"`</li><li>`\"evm_11155111\"`</li><li>`\"evm_ethereum_mainnet\"`</li><li>`\"evm_ethereum_goerli\"`</li><li>`\"evm_optimism_mainnet\"`</li><li>`\"evm_flare_testnet\"`</li><li>`\"evm_bsc_mainnet\"`</li><li>`\"evm_gnosis_mainnet\"`</li><li>`\"evm_polygon_mainnet\"`</li><li>`\"evm_sonic_mainnet\"`</li><li>`\"evm_manta_pacific_mainnet\"`</li><li>`\"evm_fantom_mainnet\"`</li><li>`\"evm_zksync_era_mainnet\"`</li><li>`\"evm_conflux_mainnet\"`</li><li>`\"evm_dymension_mainnet\"`</li><li>`\"evm_polygon_zkevm_mainnet\"`</li><li>`\"evm_sei_mainnet\"`</li><li>`\"evm_reya_mainnet\"`</li><li>`\"evm_kava_mainnet\"`</li><li>`\"evm_merlin_mainnet\"`</li><li>`\"evm_mantle_mainnet\"`</li><li>`\"evm_zeta_mainnet\"`</li><li>`\"evm_canto_mainnet\"`</li><li>`\"evm_base_mainnet\"`</li><li>`\"evm_ethereum_holesky\"`</li><li>`\"evm_polygon_mumbai\"`</li><li>`\"evm_arbitrum_mainnet\"`</li><li>`\"evm_avalanche_chain\"`</li><li>`\"evm_linea_mainnet\"`</li><li>`\"evm_blast_mainnet\"`</li><li>`\"evm_arbitrum_sepolia\"`</li><li>`\"evm_scroll_mainnet\"`</li><li>`\"evm_xai_mainnet\"`</li><li>`\"evm_zklink_nova_mainnet\"`</li><li>`\"evm_ethereum_sepolia\"`</li></ul>", "title": "ChainUniqueId"}}}, {"name": "asset_ids", "in": "query", "required": false, "schema": {"title": "Asset Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "is_hidden", "in": "query", "required": false, "schema": {"title": "Is Hidden", "type": "boolean"}}, {"name": "search", "in": "query", "required": false, "schema": {"title": "Search", "type": "string"}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"title": "Sort By", "type": "array", "items": {"$ref": "#/components/schemas/OwnedAssetsSortableFields"}}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListOwnedAssetsResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/vaults/{id}/name": {"put": {"tags": ["Vaults"], "summary": "Rename Vault", "description": "Rename an existing vault.", "operationId": "rename_vault_api_v1_vaults__id__name_put", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the vault to rename.", "title": "Id"}, "description": "ID of the vault to rename."}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RenameVaultRequest"}}}}, "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "409": {"description": "Already Exists", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/vaults/{id}/addresses": {"post": {"tags": ["Vaults"], "summary": "Create Address", "description": "Create a new address.", "operationId": "create_address_api_v1_vaults__id__addresses_post", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the vault to create address in.", "title": "Id"}, "description": "ID of the vault to create address in."}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateVaultAddressRequest"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateVaultAddressResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DefinedPreconditionError_CreateVaultAddressErrorType_"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}, "get": {"tags": ["Vaults"], "summary": "List Vault Addresses", "description": "Get a list of all addresses in a vault.", "operationId": "list_vault_addresses_api_v1_vaults__id__addresses_get", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the vault.", "title": "Id"}, "description": "ID of the vault."}, {"name": "sort_by", "in": "query", "required": false, "schema": {"type": "array", "items": {"$ref": "#/components/schemas/VaultAddressSortableFields"}, "title": "Sort By"}}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "description": "The page number to fetch.", "default": 1, "title": "Page"}, "description": "The page number to fetch."}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 100, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}, {"name": "search", "in": "query", "required": false, "schema": {"title": "Search", "type": "string"}}, {"name": "addresses", "in": "query", "required": false, "schema": {"description": "List of addresses to filter on.", "title": "Addresses", "type": "array", "items": {"type": "string"}}, "description": "List of addresses to filter on."}, {"name": "address_types", "in": "query", "required": false, "schema": {"description": "List of address types to filter on.", "title": "Address Types", "type": "array", "items": {"$ref": "#/components/schemas/UtxoAddressType"}}, "description": "List of address types to filter on."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListVaultAddressesResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/vaults/addresses/{id}/name": {"put": {"tags": ["Vaults"], "summary": "Rename Vault Address", "description": "Rename an existing vault address.", "operationId": "rename_vault_address_api_v1_vaults_addresses__id__name_put", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the vault address to rename.", "title": "Id"}, "description": "ID of the vault address to rename."}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RenameVaultRequest"}}}}, "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "409": {"description": "Already Exists", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/vault-groups": {"get": {"tags": ["Vault Groups"], "summary": "List Vault Groups", "description": "Get a list of vault groups in the organization.", "operationId": "list_vault_groups_api_v1_vault_groups_get", "parameters": [{"name": "sort_by", "in": "query", "required": false, "schema": {"type": "array", "items": {"$ref": "#/components/schemas/VaultGroupSortableFields"}, "title": "Sort By"}}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "description": "The page number to fetch.", "default": 1, "title": "Page"}, "description": "The page number to fetch."}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 100, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}, {"name": "vault_group_ids", "in": "query", "required": false, "schema": {"description": "Vault group IDs to filter on.", "title": "Vault Group Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "Vault group IDs to filter on."}, {"name": "search", "in": "query", "required": false, "schema": {"title": "Search", "type": "string"}}, {"name": "access_level", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/ListVaultGroupsFilterByAccessLevel", "default": "view"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListVaultGroupsResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/assets/owned-assets/{id}": {"get": {"tags": ["Assets"], "summary": "Get Owned Asset", "description": "Get a a specific asset owned by an organization.", "operationId": "get_owned_asset_api_v1_assets_owned_assets__id__get", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the asset to retrieve.", "title": "Id"}, "description": "ID of the asset to retrieve."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetOwnedAssetResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/assets/owned-assets": {"get": {"tags": ["Assets"], "summary": "List Owned Assets", "description": "Get a list of all assets owned by an organization.", "operationId": "list_owned_assets_api_v1_assets_owned_assets_get", "parameters": [{"name": "chains", "in": "query", "required": false, "schema": {"title": "Chains", "type": "array", "items": {"type": "string", "minLength": 1, "description": "The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`\"aptos_mainnet\"`</li><li>`\"aptos_testnet\"`</li><li>`\"aptos_movement_mainnet\"`</li><li>`\"aptos_movement_testnet\"`</li><li>`\"cosmos_agoric-3\"`</li><li>`\"cosmos_akashnet-2\"`</li><li>`\"cosmos_archway-1\"`</li><li>`\"cosmos_axelar-dojo-1\"`</li><li>`\"cosmos_celestia\"`</li><li>`\"cosmos_cosmoshub-4\"`</li><li>`\"cosmos_dydx-mainnet-1\"`</li><li>`\"cosmos_dydx-testnet-4\"`</li><li>`\"cosmos_dymension_1100-1\"`</li><li>`\"cosmos_injective-1\"`</li><li>`\"cosmos_neutron-1\"`</li><li>`\"cosmos_noble-1\"`</li><li>`\"cosmos_osmosis-1\"`</li><li>`\"cosmos_pacific-1\"`</li><li>`\"cosmos_stride-1\"`</li><li>`\"exchange_binance\"`</li><li>`\"exchange_bybit\"`</li><li>`\"exchange_coinbase_international\"`</li><li>`\"exchange_coinbase_us\"`</li><li>`\"exchange_okx\"`</li><li>`\"solana_mainnet\"`</li><li>`\"solana_devnet\"`</li><li>`\"stacks_mainnet\"`</li><li>`\"starknet_mainnet\"`</li><li>`\"sui_mainnet\"`</li><li>`\"sui_testnet\"`</li><li>`\"ton_mainnet\"`</li><li>`\"bitcoin_mainnet\"`</li><li>`\"bitcoin_testnet\"`</li><li>`\"evm_1\"`</li><li>`\"evm_5\"`</li><li>`\"evm_10\"`</li><li>`\"evm_16\"`</li><li>`\"evm_56\"`</li><li>`\"evm_100\"`</li><li>`\"evm_137\"`</li><li>`\"evm_146\"`</li><li>`\"evm_169\"`</li><li>`\"evm_250\"`</li><li>`\"evm_324\"`</li><li>`\"evm_1030\"`</li><li>`\"evm_1100\"`</li><li>`\"evm_1101\"`</li><li>`\"evm_1329\"`</li><li>`\"evm_1729\"`</li><li>`\"evm_2222\"`</li><li>`\"evm_4200\"`</li><li>`\"evm_5000\"`</li><li>`\"evm_7000\"`</li><li>`\"evm_7700\"`</li><li>`\"evm_8453\"`</li><li>`\"evm_17000\"`</li><li>`\"evm_80001\"`</li><li>`\"evm_42161\"`</li><li>`\"evm_43114\"`</li><li>`\"evm_59144\"`</li><li>`\"evm_81457\"`</li><li>`\"evm_421614\"`</li><li>`\"evm_534352\"`</li><li>`\"evm_660279\"`</li><li>`\"evm_810180\"`</li><li>`\"evm_11155111\"`</li><li>`\"evm_ethereum_mainnet\"`</li><li>`\"evm_ethereum_goerli\"`</li><li>`\"evm_optimism_mainnet\"`</li><li>`\"evm_flare_testnet\"`</li><li>`\"evm_bsc_mainnet\"`</li><li>`\"evm_gnosis_mainnet\"`</li><li>`\"evm_polygon_mainnet\"`</li><li>`\"evm_sonic_mainnet\"`</li><li>`\"evm_manta_pacific_mainnet\"`</li><li>`\"evm_fantom_mainnet\"`</li><li>`\"evm_zksync_era_mainnet\"`</li><li>`\"evm_conflux_mainnet\"`</li><li>`\"evm_dymension_mainnet\"`</li><li>`\"evm_polygon_zkevm_mainnet\"`</li><li>`\"evm_sei_mainnet\"`</li><li>`\"evm_reya_mainnet\"`</li><li>`\"evm_kava_mainnet\"`</li><li>`\"evm_merlin_mainnet\"`</li><li>`\"evm_mantle_mainnet\"`</li><li>`\"evm_zeta_mainnet\"`</li><li>`\"evm_canto_mainnet\"`</li><li>`\"evm_base_mainnet\"`</li><li>`\"evm_ethereum_holesky\"`</li><li>`\"evm_polygon_mumbai\"`</li><li>`\"evm_arbitrum_mainnet\"`</li><li>`\"evm_avalanche_chain\"`</li><li>`\"evm_linea_mainnet\"`</li><li>`\"evm_blast_mainnet\"`</li><li>`\"evm_arbitrum_sepolia\"`</li><li>`\"evm_scroll_mainnet\"`</li><li>`\"evm_xai_mainnet\"`</li><li>`\"evm_zklink_nova_mainnet\"`</li><li>`\"evm_ethereum_sepolia\"`</li></ul>", "title": "ChainUniqueId"}}}, {"name": "asset_ids", "in": "query", "required": false, "schema": {"title": "Asset Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "is_hidden", "in": "query", "required": false, "schema": {"title": "Is Hidden", "type": "boolean"}}, {"name": "search", "in": "query", "required": false, "schema": {"title": "Search", "type": "string"}}, {"name": "vault_ids", "in": "query", "required": false, "schema": {"title": "Vault Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "end_user_ids", "in": "query", "required": false, "schema": {"title": "End User Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"title": "Sort By", "type": "array", "items": {"$ref": "#/components/schemas/OwnedAssetsSortableFields"}}}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "description": "The page number to fetch.", "default": 1, "title": "Page"}, "description": "The page number to fetch."}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 100, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListOwnedAssetsResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/assets": {"put": {"tags": ["Assets"], "summary": "Update Asset Configuration", "description": "Update the asset's configuration under the entire organization.", "operationId": "update_asset_configuration_api_v1_assets_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateAssetConfiguration"}}}, "required": true}, "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/assets/prices": {"post": {"tags": ["Assets"], "summary": "Fetch Asset Prices", "description": "Fetch the prices of assets.", "operationId": "fetch_asset_prices_api_v1_assets_prices_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FetchAssetPricesRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FetchAssetPricesResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/assets/asset-infos": {"post": {"tags": ["Assets"], "summary": "Create Asset Info", "description": "Create asset infos in the Fordefi platform.", "operationId": "create_asset_info_api_v1_assets_asset_infos_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAssetInfoRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAssetInfoResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/export": {"get": {"tags": ["Transactions"], "summary": "Export Transactions", "description": "Start the export process for filtered transactions", "operationId": "export_transactions_api_v1_transactions_export_get", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"description": "The amount of transactions to export, unlimited if not set.", "title": "Limit", "type": "integer"}, "description": "The amount of transactions to export, unlimited if not set."}, {"name": "created_before", "in": "query", "required": false, "schema": {"title": "Created Before", "type": "string", "format": "date-time"}}, {"name": "created_after", "in": "query", "required": false, "schema": {"title": "Created After", "type": "string", "format": "date-time"}}, {"name": "modified_after", "in": "query", "required": false, "schema": {"title": "Modified After", "type": "string", "format": "date-time"}}, {"name": "vault_ids", "in": "query", "required": false, "schema": {"description": "The filter applies both to transactions that have been signed by the vault and also to transactions that have interacted with the vault. ", "title": "Vault Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "The filter applies both to transactions that have been signed by the vault and also to transactions that have interacted with the vault. "}, {"name": "chains", "in": "query", "required": false, "schema": {"title": "Chains", "type": "array", "items": {"type": "string", "minLength": 1, "description": "The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`\"aptos_mainnet\"`</li><li>`\"aptos_testnet\"`</li><li>`\"aptos_movement_mainnet\"`</li><li>`\"aptos_movement_testnet\"`</li><li>`\"cosmos_agoric-3\"`</li><li>`\"cosmos_akashnet-2\"`</li><li>`\"cosmos_archway-1\"`</li><li>`\"cosmos_axelar-dojo-1\"`</li><li>`\"cosmos_celestia\"`</li><li>`\"cosmos_cosmoshub-4\"`</li><li>`\"cosmos_dydx-mainnet-1\"`</li><li>`\"cosmos_dydx-testnet-4\"`</li><li>`\"cosmos_dymension_1100-1\"`</li><li>`\"cosmos_injective-1\"`</li><li>`\"cosmos_neutron-1\"`</li><li>`\"cosmos_noble-1\"`</li><li>`\"cosmos_osmosis-1\"`</li><li>`\"cosmos_pacific-1\"`</li><li>`\"cosmos_stride-1\"`</li><li>`\"exchange_binance\"`</li><li>`\"exchange_bybit\"`</li><li>`\"exchange_coinbase_international\"`</li><li>`\"exchange_coinbase_us\"`</li><li>`\"exchange_okx\"`</li><li>`\"solana_mainnet\"`</li><li>`\"solana_devnet\"`</li><li>`\"stacks_mainnet\"`</li><li>`\"starknet_mainnet\"`</li><li>`\"sui_mainnet\"`</li><li>`\"sui_testnet\"`</li><li>`\"ton_mainnet\"`</li><li>`\"bitcoin_mainnet\"`</li><li>`\"bitcoin_testnet\"`</li><li>`\"evm_1\"`</li><li>`\"evm_5\"`</li><li>`\"evm_10\"`</li><li>`\"evm_16\"`</li><li>`\"evm_56\"`</li><li>`\"evm_100\"`</li><li>`\"evm_137\"`</li><li>`\"evm_146\"`</li><li>`\"evm_169\"`</li><li>`\"evm_250\"`</li><li>`\"evm_324\"`</li><li>`\"evm_1030\"`</li><li>`\"evm_1100\"`</li><li>`\"evm_1101\"`</li><li>`\"evm_1329\"`</li><li>`\"evm_1729\"`</li><li>`\"evm_2222\"`</li><li>`\"evm_4200\"`</li><li>`\"evm_5000\"`</li><li>`\"evm_7000\"`</li><li>`\"evm_7700\"`</li><li>`\"evm_8453\"`</li><li>`\"evm_17000\"`</li><li>`\"evm_80001\"`</li><li>`\"evm_42161\"`</li><li>`\"evm_43114\"`</li><li>`\"evm_59144\"`</li><li>`\"evm_81457\"`</li><li>`\"evm_421614\"`</li><li>`\"evm_534352\"`</li><li>`\"evm_660279\"`</li><li>`\"evm_810180\"`</li><li>`\"evm_11155111\"`</li><li>`\"evm_ethereum_mainnet\"`</li><li>`\"evm_ethereum_goerli\"`</li><li>`\"evm_optimism_mainnet\"`</li><li>`\"evm_flare_testnet\"`</li><li>`\"evm_bsc_mainnet\"`</li><li>`\"evm_gnosis_mainnet\"`</li><li>`\"evm_polygon_mainnet\"`</li><li>`\"evm_sonic_mainnet\"`</li><li>`\"evm_manta_pacific_mainnet\"`</li><li>`\"evm_fantom_mainnet\"`</li><li>`\"evm_zksync_era_mainnet\"`</li><li>`\"evm_conflux_mainnet\"`</li><li>`\"evm_dymension_mainnet\"`</li><li>`\"evm_polygon_zkevm_mainnet\"`</li><li>`\"evm_sei_mainnet\"`</li><li>`\"evm_reya_mainnet\"`</li><li>`\"evm_kava_mainnet\"`</li><li>`\"evm_merlin_mainnet\"`</li><li>`\"evm_mantle_mainnet\"`</li><li>`\"evm_zeta_mainnet\"`</li><li>`\"evm_canto_mainnet\"`</li><li>`\"evm_base_mainnet\"`</li><li>`\"evm_ethereum_holesky\"`</li><li>`\"evm_polygon_mumbai\"`</li><li>`\"evm_arbitrum_mainnet\"`</li><li>`\"evm_avalanche_chain\"`</li><li>`\"evm_linea_mainnet\"`</li><li>`\"evm_blast_mainnet\"`</li><li>`\"evm_arbitrum_sepolia\"`</li><li>`\"evm_scroll_mainnet\"`</li><li>`\"evm_xai_mainnet\"`</li><li>`\"evm_zklink_nova_mainnet\"`</li><li>`\"evm_ethereum_sepolia\"`</li></ul>", "title": "ChainUniqueId"}}}, {"name": "initiator_ids", "in": "query", "required": false, "schema": {"title": "Initiator Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "types", "in": "query", "required": false, "schema": {"title": "Types", "type": "array", "items": {"$ref": "#/components/schemas/TransactionType"}}}, {"name": "sub_types", "in": "query", "required": false, "schema": {"title": "Sub Types", "type": "array", "items": {"$ref": "#/components/schemas/TransactionSubType"}}}, {"name": "signer_types", "in": "query", "required": false, "schema": {"title": "Signer Types", "type": "array", "items": {"$ref": "#/components/schemas/SignerType"}}}, {"name": "transaction_ids", "in": "query", "required": false, "schema": {"title": "Transaction Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "end_user_ids", "in": "query", "required": false, "schema": {"title": "End User Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "direction", "in": "query", "required": false, "schema": {"title": "Direction", "$ref": "#/components/schemas/TransactionDirection"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"title": "Response Export Transactions Api V1 Transactions Export Get", "$ref": "#/components/schemas/Export"}}}}, "204": {"description": "No Content"}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/{id}": {"get": {"tags": ["Transactions"], "summary": "Get Transaction", "description": "Retrieve transaction details.", "operationId": "get_transaction_api_v1_transactions__id__get", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the transaction to retrieve.", "title": "Id"}, "description": "ID of the transaction to retrieve."}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetTransactionResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions": {"get": {"tags": ["Transactions"], "summary": "List Transactions", "description": "Get a list of all transactions in an organization.", "operationId": "list_transactions_api_v1_transactions_get", "parameters": [{"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "description": "The page number to fetch.", "default": 1, "title": "Page"}, "description": "The page number to fetch."}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 100, "minimum": 0, "description": "The number of items per page.", "default": 50, "title": "Size"}, "description": "The number of items per page."}, {"name": "created_before", "in": "query", "required": false, "schema": {"title": "Created Before", "type": "string", "format": "date-time"}}, {"name": "created_after", "in": "query", "required": false, "schema": {"title": "Created After", "type": "string", "format": "date-time"}}, {"name": "modified_after", "in": "query", "required": false, "schema": {"title": "Modified After", "type": "string", "format": "date-time"}}, {"name": "vault_ids", "in": "query", "required": false, "schema": {"description": "The filter applies both to transactions that have been signed by the vault and also to transactions that have interacted with the vault. ", "title": "Vault Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}, "description": "The filter applies both to transactions that have been signed by the vault and also to transactions that have interacted with the vault. "}, {"name": "chains", "in": "query", "required": false, "schema": {"title": "Chains", "type": "array", "items": {"type": "string", "minLength": 1, "description": "The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`\"aptos_mainnet\"`</li><li>`\"aptos_testnet\"`</li><li>`\"aptos_movement_mainnet\"`</li><li>`\"aptos_movement_testnet\"`</li><li>`\"cosmos_agoric-3\"`</li><li>`\"cosmos_akashnet-2\"`</li><li>`\"cosmos_archway-1\"`</li><li>`\"cosmos_axelar-dojo-1\"`</li><li>`\"cosmos_celestia\"`</li><li>`\"cosmos_cosmoshub-4\"`</li><li>`\"cosmos_dydx-mainnet-1\"`</li><li>`\"cosmos_dydx-testnet-4\"`</li><li>`\"cosmos_dymension_1100-1\"`</li><li>`\"cosmos_injective-1\"`</li><li>`\"cosmos_neutron-1\"`</li><li>`\"cosmos_noble-1\"`</li><li>`\"cosmos_osmosis-1\"`</li><li>`\"cosmos_pacific-1\"`</li><li>`\"cosmos_stride-1\"`</li><li>`\"exchange_binance\"`</li><li>`\"exchange_bybit\"`</li><li>`\"exchange_coinbase_international\"`</li><li>`\"exchange_coinbase_us\"`</li><li>`\"exchange_okx\"`</li><li>`\"solana_mainnet\"`</li><li>`\"solana_devnet\"`</li><li>`\"stacks_mainnet\"`</li><li>`\"starknet_mainnet\"`</li><li>`\"sui_mainnet\"`</li><li>`\"sui_testnet\"`</li><li>`\"ton_mainnet\"`</li><li>`\"bitcoin_mainnet\"`</li><li>`\"bitcoin_testnet\"`</li><li>`\"evm_1\"`</li><li>`\"evm_5\"`</li><li>`\"evm_10\"`</li><li>`\"evm_16\"`</li><li>`\"evm_56\"`</li><li>`\"evm_100\"`</li><li>`\"evm_137\"`</li><li>`\"evm_146\"`</li><li>`\"evm_169\"`</li><li>`\"evm_250\"`</li><li>`\"evm_324\"`</li><li>`\"evm_1030\"`</li><li>`\"evm_1100\"`</li><li>`\"evm_1101\"`</li><li>`\"evm_1329\"`</li><li>`\"evm_1729\"`</li><li>`\"evm_2222\"`</li><li>`\"evm_4200\"`</li><li>`\"evm_5000\"`</li><li>`\"evm_7000\"`</li><li>`\"evm_7700\"`</li><li>`\"evm_8453\"`</li><li>`\"evm_17000\"`</li><li>`\"evm_80001\"`</li><li>`\"evm_42161\"`</li><li>`\"evm_43114\"`</li><li>`\"evm_59144\"`</li><li>`\"evm_81457\"`</li><li>`\"evm_421614\"`</li><li>`\"evm_534352\"`</li><li>`\"evm_660279\"`</li><li>`\"evm_810180\"`</li><li>`\"evm_11155111\"`</li><li>`\"evm_ethereum_mainnet\"`</li><li>`\"evm_ethereum_goerli\"`</li><li>`\"evm_optimism_mainnet\"`</li><li>`\"evm_flare_testnet\"`</li><li>`\"evm_bsc_mainnet\"`</li><li>`\"evm_gnosis_mainnet\"`</li><li>`\"evm_polygon_mainnet\"`</li><li>`\"evm_sonic_mainnet\"`</li><li>`\"evm_manta_pacific_mainnet\"`</li><li>`\"evm_fantom_mainnet\"`</li><li>`\"evm_zksync_era_mainnet\"`</li><li>`\"evm_conflux_mainnet\"`</li><li>`\"evm_dymension_mainnet\"`</li><li>`\"evm_polygon_zkevm_mainnet\"`</li><li>`\"evm_sei_mainnet\"`</li><li>`\"evm_reya_mainnet\"`</li><li>`\"evm_kava_mainnet\"`</li><li>`\"evm_merlin_mainnet\"`</li><li>`\"evm_mantle_mainnet\"`</li><li>`\"evm_zeta_mainnet\"`</li><li>`\"evm_canto_mainnet\"`</li><li>`\"evm_base_mainnet\"`</li><li>`\"evm_ethereum_holesky\"`</li><li>`\"evm_polygon_mumbai\"`</li><li>`\"evm_arbitrum_mainnet\"`</li><li>`\"evm_avalanche_chain\"`</li><li>`\"evm_linea_mainnet\"`</li><li>`\"evm_blast_mainnet\"`</li><li>`\"evm_arbitrum_sepolia\"`</li><li>`\"evm_scroll_mainnet\"`</li><li>`\"evm_xai_mainnet\"`</li><li>`\"evm_zklink_nova_mainnet\"`</li><li>`\"evm_ethereum_sepolia\"`</li></ul>", "title": "ChainUniqueId"}}}, {"name": "initiator_ids", "in": "query", "required": false, "schema": {"title": "Initiator Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "types", "in": "query", "required": false, "schema": {"title": "Types", "type": "array", "items": {"$ref": "#/components/schemas/TransactionType"}}}, {"name": "sub_types", "in": "query", "required": false, "schema": {"title": "Sub Types", "type": "array", "items": {"$ref": "#/components/schemas/TransactionSubType"}}}, {"name": "signer_types", "in": "query", "required": false, "schema": {"title": "Signer Types", "type": "array", "items": {"$ref": "#/components/schemas/SignerType"}}}, {"name": "transaction_ids", "in": "query", "required": false, "schema": {"title": "Transaction Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "end_user_ids", "in": "query", "required": false, "schema": {"title": "End User Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "direction", "in": "query", "required": false, "schema": {"title": "Direction", "$ref": "#/components/schemas/TransactionDirection"}}, {"name": "states", "in": "query", "required": false, "schema": {"description": "State of the transaction. Can be one of:<ul> <li>`pending`</li> <li>`error`, which can be one of: <ul><li>`error_pushing_to_blockchain` </li> <li>`completed_reverted` </li> <li>`error_signing` </li>  <li>`insufficient_funds`  </li> <li>`dropped` </li>  </ul><li>`finalized`, which can be one of: <ul><li>`completed` </li> <li>`completed_reverted` </li> <li>`aborted` </li>  <li>`error_pushing_to_blockchain` </li> <li>`reverted`  </li> <li>`accelerated` </li>  <li>`canceled` </li>  <li>`dropped` </li>  <li>`error_signing` </li>  <li>`insufficient_funds`  </li> </ul><li>`approved` </li> </ul>", "title": "States", "type": "array", "items": {"$ref": "#/components/schemas/TransactionState"}}, "description": "State of the transaction. Can be one of:<ul> <li>`pending`</li> <li>`error`, which can be one of: <ul><li>`error_pushing_to_blockchain` </li> <li>`completed_reverted` </li> <li>`error_signing` </li>  <li>`insufficient_funds`  </li> <li>`dropped` </li>  </ul><li>`finalized`, which can be one of: <ul><li>`completed` </li> <li>`completed_reverted` </li> <li>`aborted` </li>  <li>`error_pushing_to_blockchain` </li> <li>`reverted`  </li> <li>`accelerated` </li>  <li>`canceled` </li>  <li>`dropped` </li>  <li>`error_signing` </li>  <li>`insufficient_funds`  </li> </ul><li>`approved` </li> </ul>"}, {"name": "is_hidden", "in": "query", "required": false, "schema": {"title": "Is Hidden", "type": "boolean"}}, {"name": "include_full_response", "in": "query", "required": false, "schema": {"type": "boolean", "default": true, "title": "Include Full Response"}}, {"name": "batch_ids", "in": "query", "required": false, "schema": {"title": "Batch Ids", "type": "array", "items": {"type": "string", "format": "uuid"}}}, {"name": "include_blackbox", "in": "query", "required": false, "schema": {"title": "Include Blackbox", "type": "boolean"}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"title": "Sort By", "type": "array", "items": {"$ref": "#/components/schemas/TransactionSortableFields"}}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListTransactionResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}, "post": {"tags": ["Transactions"], "summary": "Create Transaction", "description": "Create a new transaction.", "operationId": "create_transaction_api_v1_transactions_post", "parameters": [{"name": "x-signature", "in": "header", "required": false, "schema": {"description": "Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. ", "title": "X-Signature", "type": "string", "example": "SGVsbG8="}, "description": "Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. "}, {"name": "x-timestamp", "in": "header", "required": false, "schema": {"description": "Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks.", "title": "X-Timestamp", "type": "integer"}, "description": "Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks."}, {"name": "x-idempotence-id", "in": "header", "required": false, "schema": {"description": "Optional idempotence ID of a transaction.", "title": "X-Idempotence-Id", "type": "string", "format": "uuid"}, "description": "Optional idempotence ID of a transaction."}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateTransactionRequest"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateTransactionResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DefinedPreconditionError_CreateTransactionErrorType_"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/create-and-wait": {"post": {"tags": ["Transactions"], "summary": "Create Transaction And Wait", "description": "Create a new transaction and wait until transaction reaches given state.", "operationId": "create_transaction_and_wait_api_v1_transactions_create_and_wait_post", "parameters": [{"name": "x-signature", "in": "header", "required": false, "schema": {"description": "Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. ", "title": "X-Signature", "type": "string", "example": "SGVsbG8="}, "description": "Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. "}, {"name": "x-timestamp", "in": "header", "required": false, "schema": {"description": "Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks.", "title": "X-Timestamp", "type": "integer"}, "description": "Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks."}, {"name": "x-idempotence-id", "in": "header", "required": false, "schema": {"description": "Optional idempotence ID of a transaction.", "title": "X-Idempotence-Id", "type": "string", "format": "uuid"}, "description": "Optional idempotence ID of a transaction."}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateTransactionWithWaitRequest"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateTransactionWithWaitResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DefinedPreconditionError_CreateTransactionErrorType_"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/{id}/approve": {"post": {"tags": ["Transactions"], "summary": "Approve Transaction", "description": "Approve a transaction.\n\nA transaction awaits approval when the caller API user has been specified as a\npotential approver in the policy and the transaction\nis in the `waiting_for_approval` state.", "operationId": "approve_transaction_api_v1_transactions__id__approve_post", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the transaction to approve.", "title": "Id"}, "description": "ID of the transaction to approve."}], "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DefinedPreconditionError_ApproveTransactionErrorType_"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/{id}/abort": {"post": {"tags": ["Transactions"], "summary": "Abort Transaction", "description": "Abort a transaction.\n\nAbort is possible only for a transaction that is in one of the following states:\n   <ul>\n   <li>Waiting for approval\n   <li>Approved\n   </ul>\n\nThe aborting user must be one of the following:\n<ul>\n<li>The user who created the transaction\n<li>An admin\n<li>A legitimate approver\n</ul>\n\nAPI users can abort only the transactions they created.", "operationId": "abort_transaction_api_v1_transactions__id__abort_post", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the transaction to abort.", "title": "Id"}, "description": "ID of the transaction to abort."}], "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DefinedPreconditionError_AbortTransactionErrorType_"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/{id}/release": {"post": {"tags": ["Transactions"], "summary": "Release Transaction", "description": "Release a transaction.", "operationId": "release_transaction_api_v1_transactions__id__release_post", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the transaction to release.", "title": "Id"}, "description": "ID of the transaction to release."}, {"name": "x-signature", "in": "header", "required": false, "schema": {"description": "Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. ", "title": "X-Signature", "type": "string", "example": "SGVsbG8="}, "description": "Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. "}, {"name": "x-timestamp", "in": "header", "required": false, "schema": {"description": "Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks.", "title": "X-Timestamp", "type": "integer"}, "description": "Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks."}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReleaseTransactionRequest"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReleaseTransactionResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DefinedPreconditionError_ReleaseTransactionErrorType_"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/predict": {"post": {"tags": ["Transactions"], "summary": "Predict Transaction", "description": "Simulate the transaction and changes in token\nbalances, in addition to the fee estimation.", "operationId": "predict_transaction_api_v1_transactions_predict_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PredictTransactionRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PredictTransactionResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DefinedPreconditionError_PredictTransactionErrorType_"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/{id}/push": {"post": {"tags": ["Transactions"], "summary": "Push Transaction", "description": "Push a transaction to the chain.", "operationId": "push_transaction_api_v1_transactions__id__push_post", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the transaction to be pushed to chain.", "title": "Id"}, "description": "ID of the transaction to be pushed to chain."}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PushTransactionRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PushTransactionResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/{id}/update-spam-state": {"put": {"tags": ["Transactions"], "summary": "Update Transaction Spam State", "description": "Update transaction's spam state.", "operationId": "update_transaction_spam_state_api_v1_transactions__id__update_spam_state_put", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the transaction to update spam state for.", "title": "Id"}, "description": "ID of the transaction to update spam state for."}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateTransactionSpamStateRequest"}}}}, "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/transactions/{id}/trigger-signing": {"post": {"tags": ["Transactions"], "summary": "Trigger Transaction Signing", "description": "Trigger transaction signing.", "operationId": "trigger_transaction_signing_api_v1_transactions__id__trigger_signing_post", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "ID of the transaction to trigger.", "title": "Id"}, "description": "ID of the transaction to trigger."}], "responses": {"204": {"description": "Successful Response"}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreconditionFailedError"}}}}, "401": {"description": "Unauthorized User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "403": {"description": "Forbidden User", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourceError"}}}}, "408": {"description": "Request Timeout", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationError"}}}}, "429": {"description": "Rate Limit Exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RateLimitError"}}}}, "500": {"description": "Unexpected Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BaseError"}}}}}}}, "/api/v1/batch-transactions": {"post": {"tags": ["Batch Transactions"], "summary": "Create Batch Transaction", "description": "Create a batch of transactions.\n<br>\nBatch transactions are currently supported only on Solana.", "operationId": "create_batch_transaction_api_v1_batch_transactions_post", "parameters": [{"name": "x-signature", "in": "header", "required": false, "schema": {"description": "Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. ", "title": "X-Signature", "type": "string", "example": "SGVsbG8="}, "description": "Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. "}, {"name": "x-timestamp", "in": "header", "required": false, "schema": {"description": "Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks.", "title": "X-Timestamp", "type": "integer"}, "description": "Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks."}, {"name": "x-idempotence-id", "in": "header", "required": false, "schema": {"description": "Optional idempotence ID of a transaction.", "title": "X-Idempotence-Id", "type": "string", "format": "uuid"}, "description": "Optional idempotence ID of a transaction."}], "requestBody": {"required": true, "content": {"application/json": {"sch
[...]
