interactions:
- request:
    body: '{"address_type": "legacy", "name": "Test legacy Address"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fordefi.com/api/v1/vaults/3c091da6-9f5a-4a2d-adb7-61217329889b/addresses
  response:
    body:
      string: '{"title":"Invalid vault type","detail":"Invalid vault type for vault
        creation.","request_id":"805281e8-9dd5-9008-add5-4c4a398adf70","error_type":"invalid_vault_type"}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '40'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"address_type": "p2sh", "name": "Test p2sh Address"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fordefi.com/api/v1/vaults/3c091da6-9f5a-4a2d-adb7-61217329889b/addresses
  response:
    body:
      string: '{"title":"Cannot process data due to validation error","detail":[{"loc":["body","address_type"],"msg":"Input
        should be ''legacy'', ''segwit'' or ''taproot''","type":"enum"}],"request_id":"8f3f453e-e403-9579-af98-633c4bfcd629"}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '39'
    status:
      code: 422
      message: Unprocessable Entity
[...]
- request:
    body: '{"address_type": "taproot", "name": "Test taproot Address"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fordefi.com/api/v1/vaults/3c091da6-9f5a-4a2d-adb7-61217329889b/addresses
  response:
    body:
      string: '{"title":"Invalid vault type","detail":"Invalid vault type for vault
        creation.","request_id":"51a2c4bc-9aac-91ce-8d89-838c3bf38d5d","error_type":"invalid_vault_type"}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '296'
      x-ratelimit-reset:
      - '39'
    status:
      code: 400
      message: Bad Request
version: 1
