interactions:
- request:
    body: '{"address_type": "segwit", "name": "Test Address"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fordefi.com/api/v1/vaults/3c091da6-9f5a-4a2d-adb7-61217329889b/addresses
  response:
    body:
      string: '{"title":"Invalid vault type","detail":"Invalid vault type for vault
        creation.","request_id":"01176fe8-9950-97df-a670-bd9cc83915a5","error_type":"invalid_vault_type"}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '296'
      x-ratelimit-reset:
      - '21'
    status:
      code: 400
      message: Bad Request
version: 1
