interactions:
- request:
    body: '{"vault_id": "e1e88d12-7f78-440e-a12c-c7e3904daeed", "note": "string",
      "sign_mode": "auto", "type": "black_box_signature", "details": {"format": "hash_binary",
      "hash_binary": "SGVsbG8="}, "signer_type": "api_signer"}'
    headers:
      Content-Type:
      - application/json
      x-idempotence-id:
      - 7ce3ecd6-ad3a-4563-a094-81973e3f1247
    method: POST
    uri: https://api.fordefi.com/api/v1/transactions
  response:
    body:
      string: '{"id":"cffa3805-870d-49c1-abe8-1a3021d1bc33","created_at":"2024-11-26T11:32:10.136000Z","modified_at":"2024-11-26T11:36:56.090000Z","managed_transaction_data":{"created_by":{"id":"ebb6ba79-91dd-46c5-8bbb-b73e359bd330","user_type":"api_user","name":"local
        testing / Nuno Costa","state":"deleted","role":"trader"},"aborted_by":{"id":"f0669f81-5a18-4545-baa9-c51b937399b5","user_type":"person","name":"Nuno
        Costa","email":"nuno.costa@nexchange.co.uk","state":"active","role":"admin"},"device_signing_request":{"signers":[{"user":{"id":"8a6c62e1-56ec-4e0d-99e8-2b4eaff49c25","user_type":"api_signer","name":"Testing","state":"deleted"},"modified_at":"2024-11-26T11:32:10.152000Z","has_signed":false}]},"policy_match":{"is_default":true,"rule_id":"00000000-0000-0000-0000-000000000000","rule_name":"","action_type":"allow"},"signer_type":"api_signer","risks":[],"vault":{"id":"e1e88d12-7f78-440e-a12c-c7e3904daeed","name":"blackbox","state":"active","type":"black_box"},"idempotence_id":"7ce3ecd6-ad3a-4563-a094-81973e3f1247","has_current_user_vault_permissions":true,"sign_mode":"auto"},"signatures":[],"note":"string","spam_state":"unset","direction":"outgoing","state":"aborted","state_changes":[{"changed_at":"2024-11-26T11:32:10.136000Z","asset_prices":[],"prices":{"token_prices":[]},"new_state":"waiting_for_approval"},{"changed_at":"2024-11-26T11:32:10.150000Z","asset_prices":[],"prices":{"token_prices":[]},"previous_state":"waiting_for_approval","new_state":"approved"},{"changed_at":"2024-11-26T11:36:56.090000Z","asset_prices":[],"prices":{"token_prices":[]},"previous_state":"approved","new_state":"aborted"}],"type":"black_box_signature","payload":"SGVsbG8=","vault":{"id":"e1e88d12-7f78-440e-a12c-c7e3904daeed","name":"blackbox","state":"active","type":"black_box"},"details":{"type":"ecdsa_stark","hash_binary":"SGVsbG8=","hash_integer":"0x48656c6c6f"}}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '290'
      x-ratelimit-reset:
      - '42'
    status:
      code: 200
      message: OK
[...]
