interactions:
- request:
    body: '{"name": "creation-test-vault", "type": "evm"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fordefi.com/api/v1/vaults
  response:
    body:
      string: '{"id":"686dc906-324c-47b2-b1a7-5261287ead4b","created_at":"2025-02-13T15:27:16.186000Z","modified_at":"2025-02-13T15:27:16.186000Z","name":"creation-test-vault","created_by":{"id":"7e94b222-22f1-437a-b2a5-8d866d3d4d28","user_type":"api_user","name":"Nuno
        C / Local Testing","state":"active","role":"trader"},"vault_group":{"id":"58a9a179-e324-494a-9b92-0beebdba75b4","name":"Default","vault_count":2,"can_current_user_create_or_edit_vaults":true},"state":"active","are_all_chains_disabled":false,"derivation_path":"m/44/60/1/0/0","public_key_compressed":"A5GnkoLZ/bJYyBNExR2KIoCZoXyKxG8svK1obWnTKwXS","derivation_info":{"derivation_path":"m/44/60/1/0/0","master_public_key":{"id":"dd5b12ba-ea74-45f5-a254-58c4f69b89c6","xpub":"xpub661MyMwAqRbcFkEJn5BNqt6hfRUTEwRGisnEALNLLzKFr6NbEeJLCcncpADpTK84KLjVEvQM6a6dAkC8buuVsEoRJE9SSYNEHNHgs4rN1Rb"}},"keyset":{"id":"2e6569a5-f0d0-4c60-a773-602078f4e425","name":"default","scope":"organization"},"type":"evm","address":"0x7867379eeB4cE505eB19B324dae04e2b1d7A3C72"}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '296'
      x-ratelimit-reset:
      - '44'
    status:
      code: 201
      message: Created
version: 1
