interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fordefi.com/api/v1/vaults/3c091da6-9f5a-4a2d-adb7-61217329889b/addresses
  response:
    body:
      string: '{"title":"Cannot process data due to validation error","detail":[{"loc":["body"],"msg":"Field
        required","type":"missing"}],"request_id":"db165e46-a004-9d6f-9b9d-e76f95eb3994"}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '295'
      x-ratelimit-reset:
      - '15'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
