interactions:
- request:
    body: '{"signer_type": "api_signer", "vault_id": "bdb889c8-7f39-4b1c-8973-bd0532143796",
      "type": "evm_transaction", "details": {"type": "evm_transfer", "gas": {"type":
      "priority", "priority_level": "medium"}, "asset_identifier": {"type": "evm",
      "details": {"type": "native", "chain": "evm_arbitrum_mainnet"}}, "to": "0xB5196134D57Da6996E0473370667f58717D0bF82",
      "value": {"type": "value", "value": "1"}}}'
    headers:
      Content-Type:
      - application/json
      x-idempotence-id:
      - aa4e3c61-2408-44dd-afea-1d4f93bf6e31
    method: POST
    uri: https://api.fordefi.com/api/v1/transactions
  response:
    body:
      string: '{"id":"52ef75da-3a95-40a6-bc20-d1e877701557","created_at":"2025-02-24T14:55:24.516000Z","modified_at":"2025-02-24T14:55:24.516000Z","managed_transaction_data":{"created_by":{"id":"7e94b222-22f1-437a-b2a5-8d866d3d4d28","user_type":"api_user","name":"Nuno
        C / Local Testing","state":"active","role":"trader"},"device_signing_request":{"signers":[{"user":{"id":"a1e1ccee-ef58-42b5-8d5f-c3f8d0f8f550","user_type":"api_signer","name":"Testing","state":"active"},"modified_at":"2025-02-24T14:55:24.548000Z","has_signed":false}]},"policy_match":{"is_default":true,"rule_id":"00000000-0000-0000-0000-000000000000","rule_name":"","action_type":"allow"},"signer_type":"api_signer","risks":[],"vault":{"id":"bdb889c8-7f39-4b1c-8973-bd0532143796","name":"EVM
        Releases","address":"0xA031314c1bFc27b83163978DFB8549829789ae63","state":"active","type":"evm"},"idempotence_id":"aa4e3c61-2408-44dd-afea-1d4f93bf6e31","has_current_user_vault_permissions":true,"push_mode":"auto","sign_mode":"auto"},"signatures":[],"spam_state":"unset","direction":"outgoing","state":"approved","state_changes":[{"changed_at":"2025-02-24T14:55:24.516000Z","asset_prices":[],"prices":{"token_prices":[]},"new_state":"waiting_for_approval"},{"changed_at":"2025-02-24T14:55:24.546000Z","asset_prices":[],"prices":{"token_prices":[]},"previous_state":"waiting_for_approval","new_state":"approved"}],"type":"evm_transaction","evm_transaction_type_details":{"type":"native_transfer","direction":"internal","is_internal":true},"chain":{"chain_type":"evm","named_chain_id":"arbitrum_mainnet","chain_id":42161,"unique_id":"evm_arbitrum_mainnet","name":"Arbitrum
        One","native_currency_symbol":"ETH","native_currency_name":"Ether","blockchain_explorer":{"transaction_url":"https://arbiscan.io/tx/","address_url":"https://arbiscan.io/address/","root_url":"https://arbiscan.io/","transaction_format_url":"https://arbiscan.io/tx/%s","address_format_url":"https://arbiscan.io/address/%s","asset_format_url":"https://arbiscan.io/address/%s"},"logo_url":"https://logos.fordefi.com/chains/evm/default/42161.svg","is_testnet":false,"is_enabled":true,"gas_type":"legacy","supports_secure_node":false,"source":"default"},"from":{"vault":{"id":"bdb889c8-7f39-4b1c-8973-bd0532143796","name":"EVM
        Releases","address":"0xA031314c1bFc27b83163978DFB8549829789ae63","state":"active","type":"evm"},"explorer_url":"https://arbiscan.io/address/0xA031314c1bFc27b83163978DFB8549829789ae63","type":"evm","address":"0xA031314c1bFc27b83163978DFB8549829789ae63"},"to":{"vault":{"id":"a68a470a-52b9-40d3-a863-4c916f85e17a","name":"EMV
        Deposits","address":"0xB5196134D57Da6996E0473370667f58717D0bF82","state":"active","type":"evm"},"explorer_url":"https://arbiscan.io/address/0xB5196134D57Da6996E0473370667f58717D0bF82","type":"evm","address":"0xB5196134D57Da6996E0473370667f58717D0bF82"},"value":"1","data":"","parsed_data":{"method":"","method_arguments":[]},"expected_result":{"reversion":{"state":"not_reverted"},"gas_debit":{"gas_used":"42342","gas_price":"101460000","total_fee":"4296019320000","fiat_price":{"price":"266151","price_float":"266151","fiat_currency":{"currency_symbol":"usd","decimals":2}},"priced_asset":{"type":"asset_price","asset_identifier":{"type":"evm","details":{"chain":{"chain_type":"evm","named_chain_id":"arbitrum_mainnet","chain_id":42161,"unique_id":"evm_arbitrum_mainnet","name":"Arbitrum
        One","native_currency_symbol":"ETH","native_currency_name":"Ether","blockchain_explorer":{"transaction_url":"https://arbiscan.io/tx/","address_url":"https://arbiscan.io/address/","root_url":"https://arbiscan.io/","transaction_format_url":"https://arbiscan.io/tx/%s","address_format_url":"https://arbiscan.io/address/%s","asset_format_url":"https://arbiscan.io/address/%s"},"logo_url":"https://logos.fordefi.com/chains/evm/default/42161.svg","is_testnet":false,"is_enabled":true,"gas_type":"legacy","supports_secure_node":false,"source":"default"},"type":"native"}},"asset_info":{"id":"fe8ac93b-4480-4f60-b53c-a6dabe17c76b","asset_identifier":{"type":"evm","details":{"type":"native","chain":"evm_arbitrum_mainnet"},"chain":{"chain_type":"evm","named_chain_id":"arbitrum_mainnet","chain_id":42161,"unique_id":"evm_arbitrum_mainnet","name":"Arbitrum
        One","native_currency_symbol":"ETH","native_currency_name":"Ether","blockchain_explorer":{"transaction_url":"https://arbiscan.io/tx/","address_url":"https://arbiscan.io/address/","root_url":"https://arbiscan.io/","transaction_format_url":"https://arbiscan.io/tx/%s","address_format_url":"https://arbiscan.io/address/%s","asset_format_url":"https://arbiscan.io/address/%s"},"logo_url":"https://logos.fordefi.com/chains/evm/default/42161.svg","is_testnet":false,"is_enabled":true,"gas_type":"legacy","supports_secure_node":false,"source":"default"}},"name":"Ether","symbol":"ETH","decimals":18,"verified":true,"metadata_uri":"","is_spam":false},"price":{"price":"266151","price_float":"266151","fiat_currency":{"currency_symbol":"usd","decimals":2}}}},"effects":{"balance_changes":[{"priced_asset":{"type":"asset_price","asset_identifier":{"type":"evm","details":{"chain":{"chain_type":"evm","named_chain_id":"arbitrum_mainnet","chain_id":42161,"unique_id":"evm_arbitrum_mainnet","name":"Arbitrum
        One","native_currency_symbol":"ETH","native_currency_name":"Ether","blockchain_explorer":{"transaction_url":"https://arbiscan.io/tx/","address_url":"https://arbiscan.io/address/","root_url":"https://arbiscan.io/","transaction_format_url":"https://arbiscan.io/tx/%s","address_f[...]
