interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fordefi.com/api/v1/assets/owned-assets?vault_ids=3c091da6-9f5a-4a2d-adb7-61217329889b&vault_ids=f5f13461-803f-455b-86ff-45e1cf8bc884&page=1&size=50
  response:
    body:
      string: '{"total":1,"page":1,"size":50,"owned_assets":[{"priced_asset":{"type":"asset_price","asset_info":{"id":"084327a1-b40b-4fa2-97e4-731a67cb59ab","asset_identifier":{"type":"aptos","details":{"type":"native","chain":"aptos_mainnet"},"chain":{"chain_type":"aptos","unique_id":"aptos_mainnet","name":"Aptos
        Mainnet","native_currency_symbol":"APT","native_currency_name":"Aptos Coin","blockchain_explorer":{"transaction_url":"https://explorer.aptoslabs.com/transactions?network=mainnet","address_url":"https://explorer.aptoslabs.com/account/?network=mainnet","root_url":"https://explorer.aptoslabs.com/?network=mainnet","transaction_format_url":"https://explorer.aptoslabs.com/txn/%s/?network=mainnet","address_format_url":"https://explorer.aptoslabs.com/account/%s/?network=mainnet","asset_format_url":"https://explorer.aptoslabs.com/coin/%s/?network=mainnet"},"logo_url":"https://logos.fordefi.com/chains/aptos/mainnet.svg","is_testnet":false,"is_enabled":true}},"name":"Aptos
        Coin","symbol":"APT","decimals":8,"verified":true,"metadata_uri":"","is_spam":false,"explorer_url":"https://explorer.aptoslabs.com/coin/0x1::aptos_coin::AptosCoin/?network=mainnet"},"price":{"price":"601","price_float":"601","fiat_currency":{"currency_symbol":"usd","decimals":2}}},"balance":"300000","balances":{"mined":"300000","pending_incoming":"0"}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '45'
    status:
      code: 200
      message: OK
version: 1
