interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fordefi.com/api/v1/vaults?page=1&size=50
  response:
    body:
      string: '{"total":6,"page":1,"size":50,"vaults":[{"id":"f5f13461-803f-455b-86ff-45e1cf8bc884","created_at":"2024-11-25T11:24:41.005000Z","modified_at":"2024-11-26T09:59:58.431000Z","name":"Aptos
        Deposits","created_by":{"id":"f0669f81-5a18-4545-baa9-c51b937399b5","user_type":"person","name":"Nuno
        Costa","email":"nuno.costa@nexchange.co.uk","state":"active","role":"admin"},"vault_group":{"id":"53827306-ad1d-4500-824a-9e5825844e0b","name":"Deposits","vault_count":2,"can_current_user_create_or_edit_vaults":true},"state":"active","are_all_chains_disabled":false,"derivation_path":"m/44/637/0/0/0","public_key_compressed":"vaTeg7G8kOx2HTkNK5pXgCX2EPWyuTOLRCCL/6L03BY=","derivation_info":{"derivation_path":"m/44/637/0/0/0","master_public_key":{"id":"68f66af6-811e-4687-8ee0-aba3fe13059f","xpub":"xpub661MyMwAqRbcFfuCrQbcXBFdTsTsXcphM8dThzmUeDuPrdFf4h1WsnAw7qaosNQB9kbxkbZw69EbLx6JtMQ7a2ygyZXZ3Fetxoygdy5UaMs"}},"keyset":{"id":"2e6569a5-f0d0-4c60-a773-602078f4e425","name":"default","scope":"organization"},"type":"aptos","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff"},{"id":"3c091da6-9f5a-4a2d-adb7-61217329889b","created_at":"2024-11-25T12:31:50.397000Z","modified_at":"2024-11-26T10:00:20.477000Z","name":"Aptos
        Releases","created_by":{"id":"f0669f81-5a18-4545-baa9-c51b937399b5","user_type":"person","name":"Nuno
        Costa","email":"nuno.costa@nexchange.co.uk","state":"active","role":"admin"},"vault_group":{"id":"5fffafad-bc06-422d-9ca4-73ed2b64f7c3","name":"Releases","vault_count[...]
