interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fordefi.com/api/v1/vaults/3c091da6-9f5a-4a2d-adb7-61217329889b/addresses?sort_by=created_at_desc&search=test&addresses=1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa&address_types=legacy&address_types=segwit&page=1&size=50
  response:
    body:
      string: '{"total":0,"page":1,"size":50,"addresses":[]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '41'
    status:
      code: 200
      message: OK
version: 1
