interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fordefi.com/api/v1/transactions?vault_ids=f5f13461-803f-455b-86ff-45e1cf8bc884&vault_ids=3c091da6-9f5a-4a2d-adb7-61217329889b&page=1&size=50
  response:
    body:
      string: '{"total":2,"page":1,"size":50,"transactions":[{"id":"f2c9990f-2d14-44b5-bdd3-0c472a4e44e7","created_at":"2024-11-25T16:29:52.145000Z","modified_at":"2024-11-26T09:38:43.009000Z","managed_transaction_data":{"created_by":{"id":"ebb6ba79-91dd-46c5-8bbb-b73e359bd330","user_type":"api_user","name":"local
        testing / Nuno Costa","state":"deleted","role":"trader"},"aborted_by":{"id":"f0669f81-5a18-4545-baa9-c51b937399b5","user_type":"person","name":"Nuno
        Costa","email":"nuno.costa@nexchange.co.uk","state":"active","role":"admin"},"device_signing_request":{"signers":[{"user":{"id":"8a6c62e1-56ec-4e0d-99e8-2b4eaff49c25","user_type":"api_signer","name":"Testing","state":"deleted"},"modified_at":"2024-11-25T16:29:52.185000Z","has_signed":false}]},"policy_match":{"is_default":true,"rule_id":"00000000-0000-0000-0000-000000000000","rule_name":"","action_type":"allow"},"signer_type":"api_signer","risks":[],"vault":{"id":"f5f13461-803f-455b-86ff-45e1cf8bc884","name":"Aptos
        Deposits","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff","state":"active","type":"aptos"},"idempotence_id":"87dcf0b9-50f1-4841-9a3a-f928e6bff8c7","has_current_user_vault_permissions":true,"push_mode":"auto","sign_mode":"auto"},"signatures":[],"spam_state":"unset","direction":"outgoing","state":"aborted","state_changes":[{"changed_at":"2024-11-25T16:29:52.145000Z","asset_prices":[],"prices":{"token_prices":[]},"new_state":"waiting_for_approval"},{"changed_at":"2024-11-25T16:29:52.184000Z","asset_prices":[],"prices":{"token_prices":[]},"previous_state":"waiting_for_approval","new_state":"approved"},{"changed_at":"2024-11-26T09:38:43.009000Z","asset_prices":[],"prices":{"token_prices":[]},"previous_state":"approved","new_state":"aborted"}],"type":"aptos_transaction","aptos_transaction_type_details":{"type":"native_transfer","sender":{"vault":{"id":"f5f13461-803f-455b-86ff-45e1cf8bc884","name":"Aptos
        Deposits","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff","state":"active","type":"aptos"},"explorer_url":"https://explorer.aptoslabs.com/account/0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff/?network=mainnet","type":"aptos","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff"},"recipient":{"vault":{"id":"3c091da6-9f5a-4a2d-adb7-61217329889b","name":"Aptos
        Releases","address":"0x958e2bbe42005cfc466c163c78b6c852ec454c7810f0ece04085cd44fb7f4b05","state":"active","type":"aptos"},"explorer_url":"https://explorer.aptoslabs.com/account/0x958e2bbe42005cfc466c163c78b6c852ec454c7810f0ece04085cd44fb7f4b05/?network=mainnet","type":"aptos","address":"0x958e2bbe42005cfc466c163c78b6c852ec454c7810f0ece04085cd44fb7f4b05"},"is_internal":true},"chain":{"chain_type":"aptos","unique_id":"aptos_mainnet","name":"Aptos
        Mainnet","native_currency_symbol":"APT","native_currency_name":"Aptos Coin","blockchain_explorer":{"transaction_url":"https://explorer.aptoslabs.com/transactions?network=mainnet","address_url":"https://explorer.aptoslabs.com/account/?network=mainnet","root_url":"https://explorer.aptoslabs.com/?network=mainnet","transaction_format_url":"https://explorer.aptoslabs.com/txn/%s/?network=mainnet","address_format_url":"https://explorer.aptoslabs.com/account/%s/?network=mainnet","asset_format_url":"https://explorer.aptoslabs.com/coin/%s/?network=mainnet"},"logo_url":"https://logos.fordefi.com/chains/aptos/mainnet.svg","is_testnet":false,"is_enabled":true},"sender":{"vault":{"id":"f5f13461-803f-455b-86ff-45e1cf8bc884","name":"Aptos
        Deposits","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff","state":"active","type":"aptos"},"explorer_url":"https://explorer.aptoslabs.com/account/0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff/?network=mainnet","type":"aptos","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff"},"payload":{"typed_arguments":["0x1::aptos_coin::AptosCoin"],"arguments":["0x958e2bbe42005cfc466c163c78b6c852ec454c7810f0ece04085cd44fb7f4b05","1"],"type":"entry_point","function_id":"0x1::aptos_account::transfer_coins","address":{"explorer_url":"https://explorer.aptoslabs.com/account/0x0000000000000000000000000000000000000000000000000000000000000001/?network=mainnet","type":"aptos","address":"0x0000000000000000000000000000000000000000000000000000000000000001"},"module":"aptos_account","function_name":"transfer_coins"},"gas_submitted":{"gas_limit":"999","price":{"priority_level":"medium","price":"100","fiat_price":{"price":"605","price_float":"605","fiat_currency":{"currency_symbol":"usd","decimals":2}}}},"expected_result":{"reversion":{"state":"not_reverted","reason":"Executed
        successfully"},"fee_statement":{"execution_gas_units":"6","io_gas_units":"5","storage_fee_octas":"98800","storage_fee_refund_octas":"0","total_charge_gas_units":"999","total_gas":"99900","fiat_price":{"price":"605","price_float":"605","fiat_currency":{"currency_symbol":"usd","decimals":2}},"priced_asset":{"type":"asset_price","asset_info":{"id":"084327a1-b40b-4fa2-97e4-731a67cb59ab","asset_identifier":{"type":"aptos","details":{"type":"native","chain":"aptos_mainnet"},"chain":{"chain_type":"aptos","unique_id":"aptos_mainnet","name":"Aptos
        Mainnet","native_currency_symbol":"APT","native_currency_name":"Aptos Coin","blockchain_explorer":{"transaction_url":"https://explorer.aptoslabs.com/transactions?network=mainnet","address_url":"https://explorer.aptoslabs.com/account/?network=mainnet","root_url":"https://explorer.aptoslabs.com/?network=mainnet","transaction_format_url":"https://explorer.aptoslabs.com/txn/%s/?network=mainnet","address_format_url":"https://explorer.aptoslabs.com/account/%s/?network=mainnet","asset_format_url":"https://explorer.aptoslabs.com/coin/%s/?network=mainnet"},"logo_url":"https://logos.fordefi.com/chains/aptos/mainnet.svg","is_testnet":false,"is_enabled":true}},"name":"Aptos
        Coin","symbol":"APT","decimals":8,"verified":true,"metadata_uri":"","is_spam":false,"explorer_url":"https://explorer.aptoslabs.com/coin/0x1::aptos_coin::AptosCoin/?network=mainnet"},"price":{"price":"605","price_float":"605","fiat_currency":{"currency_symbol":"usd","decimals":2}}}},"effects":{"balance_changes":[{"priced_asset":{"type":"asset_price","asset_info":{"id":"084327a1-b40b-4fa2-97e4-731a67cb59ab","asset_identifier":{"type":"aptos","details":{"type":"native","chain":"aptos_mainnet"},"chain":{"chain_type":"aptos","unique_id":"aptos_mainnet","name":"Aptos
        Mainnet","native_currency_symbol":"APT","native_currency_name":"Aptos Coin","blockchain_explorer":{"transaction_url":"https://explorer.aptoslabs.com/transactions?network=mainnet","address_url":"https://explorer.aptoslabs.com/account/?network=mainnet","root_url":"https://explorer.aptoslabs.com/?network=mainnet","transaction_format_url":"https://explorer.aptoslabs.com/txn/%s/?network=mainnet","address_format_url":"https://explorer.aptoslabs.com/account/%s/?network=mainnet","asset_format_url":"https://explorer.aptoslabs.com/coin/%s/?network=mainnet"},"logo_url":"https://logos.fordefi.com/chains/aptos/mainnet.svg","is_testnet":false,"is_enabled":true}},"name":"Aptos
        Coin","symbol":"APT","decimals":8,"verified":true,"metadata_uri":"","is_spam":false,"explorer_url":"https://explorer.aptoslabs.com/coin/0x1::aptos_coin::AptosCoin/?network=mainnet"},"price":{"price":"605","price_float":"605","fiat_currency":{"currency_symbol":"usd","decimals":2}}},"diff":"-1","type":"native","address":{"vault":{"id":"f5f13461-803f-455b-86ff-45e1cf8bc884","name":"Aptos
        Deposits","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff","state":"active","type":"aptos"},"explorer_url":"https://explorer.aptoslabs.com/account/0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff/?network=mainnet","type":"aptos","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff"},"owner":{"vault":{"id":"f5f13461-803f-455b-86ff-45e1cf8bc884","name":"Aptos
        Deposits","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff","state":"active","type":"aptos"},"explorer_url":"https://explorer.aptoslabs.com/account/0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff/?network=mainnet","type":"aptos","address":"0x01bf538ff2d24328aa441dcd6951f18abd211b13fbec3cc781d5ef3c0af3afff"}},{"priced_asset":{"type":"asset_price","asset_info":{"id":"084327a1[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fordefi.com/api/v1/transactions?vault_ids=f5f13461-803f-455b-86ff-45e1cf8bc884&vault_ids=3c091da6-9f5a-4a2d-adb7-61217329889b&direction=incoming&page=1&size=50
  response:
    body:
      string: '{"total":1,"page":1,"size":50,"transactions":[{"id":"6d9c4aed-b9e8-49eb-9a83-17b6679f7ceb","created_at":"2024-11-25T11:27:15.001000Z","modified_at":"2024-11-25T11:27:16.039000Z","sig[...]
