interactions:
- request:
    body: '{"vault_id": "bdb889c8-7f39-4b1c-8973-bd0532143796", "signer_type": "api_signer",
      "type": "evm_transaction", "details": {"type": "evm_raw_transaction", "chain":
      "ethereum_mainnet", "gas": {"type": "priority", "priority_level": "medium"},
      "value": "0", "to": "0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9", "data": {"type":
      "base64", "raw_data": "SGVsbG8="}}, "timeout": 30}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fordefi.com/api/v1/transactions
  response:
    body:
      string: '{"id":"0b1e385c-d204-49e8-801a-be718b79588e","created_at":"2025-04-11T14:45:59.823000Z","modified_at":"2025-04-11T14:45:59.823000Z","managed_transaction_data":{"created_by":{"id":"996105f1-02f2-470f-a1e3-bb5dc5fc1b8d","user_type":"api_user","name":"testing","state":"active","role":"trader"},"device_signing_request":{"signers":[{"user":{"id":"236271ac-9195-404d-9ab1-8e80330f189f","user_type":"api_signer","name":"signer","state":"active"},"modified_at":"2025-04-11T14:46:00.115000Z","has_signed":false}]},"policy_match":{"is_default":true,"rule_id":"00000000-0000-0000-0000-000000000000","rule_name":"","action_type":"allow"},"signer_type":"api_signer","risks":[{"type":"organization_not_interacted_with_address","severity":"low","title":"Organization
        Has Never Interacted With This Address","description":"You are about to interact
        with 0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9 for the first time."}],"vault":{"id":"bdb889c8-7f39-4b1c-8973-bd0532143796","name":"EVM
        Releases","address":"0xA031314c1bFc27b83163978DFB8549829789ae63","state":"active","type":"evm"},"has_current_user_vault_permissions":true,"push_mode":"auto","sign_mode":"auto"},"signatures":[],"spam_state":"unset","direction":"outgoing","signed_externally":false,"state":"approved","state_changes":[{"changed_at":"2025-04-11T14:45:59.823000Z","asset_prices":[],"prices":{"token_prices":[]},"new_state":"waiting_for_approval"},{"changed_at":"2025-04-11T14:46:00.113000Z","asset_prices":[],"prices":{"token_prices":[]},"previous_state":"waiting_for_approval","new_state":"approved"}],"type":"evm_transaction","evm_transaction_type_details":{"type":"native_transfer","direction":"outgoing","is_internal":false},"chain":{"chain_type":"evm","named_chain_id":"ethereum_mainnet","chain_id":1,"unique_id":"evm_ethereum_mainnet","name":"Ethereum","native_currency_symbol":"ETH","native_currency_name":"Ether","blockchain_explorer":{"transaction_url":"https://etherscan.io/tx/","address_url":"https://etherscan.io/address/","root_url":"https://etherscan.io/","transaction_format_url":"https://etherscan.io/tx/%s","address_format_url":"https://etherscan.io/address/%s","asset_format_url":"https://etherscan.io/address/%s"},"logo_url":"https://logos.fordefi.com/chains/evm/default/1.svg","is_testnet":false,"is_enabled":true,"gas_type":"dynamic","supports_secure_node":true,"source":"default"},"from":{"vault":{"id":"bdb889c8-7f39-4b1c-8973-bd0532143796","name":"EVM
        Releases","address":"0xA031314c1bFc27b83163978DFB8549829789ae63","state":"active","type":"evm"},"explorer_url":"https://etherscan.io/address/0xA031314c1bFc27b83163978DFB8549829789ae63","type":"evm","address":"0xA031314c1bFc27b83163978DFB8549829789ae63"},"to":{"explorer_url":"https://etherscan.io/address/0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9","type":"evm","address":"0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9"},"value":"0","data":"SGVsbG8=","hex_data":"0x48656c6c6f","parsed_data":{"method":"","method_arguments":[]},"expected_result":{"reversion":{"state":"not_reverted"},"gas_debit":{"gas_used":"31869","gas_price":"2806532908","total_fee":"89441397245052","fiat_price":{"price":"155537","price_float":"155537","fiat_currency":{"currency_symbol":"usd","decimals":2}},"priced_asset":{"type":"asset_price","asset_identifier":{"type":"evm","details":{"chain":{"chain_type":"evm","named_chain_id":"ethereum_mainnet","chain_id":1,"unique_id":"evm_ethereum_mainnet","name":"Ethereum","native_currency_symbol":"ETH","native_currency_name":"Ether","blockchain_explorer":{"transaction_url":"https://etherscan.io/tx/","address_url":"https://etherscan.io/address/","root_url":"https://etherscan.io/","transaction_format_url":"https://etherscan.io/tx/%s","address_format_url":"https://etherscan.io/address/%s","asset_format_url":"https://etherscan.io/address/%s"},"logo_url":"https://logos.fordefi.com/chains/evm/default/1.svg","is_testnet":false,"is_enabled":true,"gas_type":"dynamic","supports_secure_node":true,"source":"default"},"type":"native"}},"asset_info":{"id":"ebef1507-2916-4a42-bfb1-2c65d164f6f5","asset_identifier":{"type":"evm","details":{"type":"native","chain":"evm_ethereum_mainnet"},"chain":{"chain_type":"evm","named_chain_id":"ethereum_mainnet","chain_id":1,"unique_id":"evm_ethereum_mainnet","name":"Ethereum","native_currency_symbol":"ETH","native_currency_name":"Ether","blockchain_explorer":{"transaction_url":"https://etherscan.io/tx/","address_url":"https://etherscan.io/address/","root_url":"https://etherscan.io/","transaction_format_url":"https://etherscan.io/tx/%s","address_format_url":"https://etherscan.io/address/%s","asset_format_url":"https://etherscan.io/address/%s"},"logo_url":"https://logos.fordefi.com/chains/evm/default/1.svg","is_testnet":false,"is_enabled":true,"gas_type":"dynamic","supports_secure_node":true,"source":"default"}},"name":"Ether","symbol":"ETH","decimals":18,"verified":true,"metadata_uri":"","is_spam":false},"price":{"price":"155537","price_float":"155537","fiat_currency":{"currency_symbol":"usd","decimals":2}}}},"effects":{"balance_changes":[],"transfers":[],"allowances":[],"bridge":[],"contract_deployments":[]}},"simulation_status_result":{"simulation_status":"success","details":"not
        reverted"},"gas_submitted":{"max_priority_fee_per_gas":"84250000","max_fee_per_gas":"2806532908","priority":"medium","limit":"31869","type":"dynamic"},"is_cancelation":false,"is_acceleration":false,"use_secure_node":false}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 300, 300;w=60
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '3'
    status:
      code: 201
      message: Created
version: 1
